certifi==2020.6.20
configparser==5.0.0
conllu==2.3.2
docker-pycreds==0.4.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
entrypoints==0.3
filelock==3.0.12
future==0.18.2
gitdb==4.0.5
GitPython==3.1.7
gql==0.2.0
graphql-core==1.1
idna==2.10
ipdb==0.13.3
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
matplotlib==3.3.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nltk==3.5
numpy==1.19.0
nvidia-ml-py3==7.352.0
pandas==1.0.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307295532/work
pyemd==0.5.1
Pygments==2.6.1
pymed==0.8.9
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.7.14
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.2
seqeval==1.2.2
sklearn==0.0
spacy==2.3.2
subprocess32==3.5.4
tokenizers==0.9.3
torch==1.5.1
torchvision==0.6.0a0+35d732a
tqdm==4.48.0
transformers==3.5.1
urllib3==1.25.9
wandb==0.9.3
